@CHARSET "UTF-8";

.field input[type='text'] {
	padding:5px 10px;
}

.field .textarea {
	height:200px;
	padding:5px 10px;
}

#wpcontent option {
    padding:5px 10px;
}

.field input[type='checkbox'], .field input[type='radio'] {
	margin-right:10px;
}

.slider-input {
	text-align:center;
}

.ui-slider-horizontal {
	margin-bottom:10px;
}

.ui-timepicker-div .ui-slider-horizontal {
	margin-bottom:10px;
}

.sort {
	cursor:move;
	padding:5px 10px;
}

.custom_repeatable div {
	margin-bottom:5px;
}

.dev {
	font-family:Consolas, monospace;
}

.custom_upload_image_button {
	cursor:pointer;
}

.pickcolor {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #dfdfdf;
	margin:0 7px 0 3px;
	padding:4px 14px;
}