select {border: 1px solid #DEDEDE;}
.petrjus-select{

}
.w-adverts_link {
    /*width: 217px;*/
    float: right;
    height: 33px;
}
.w-adverts_link a {

    line-height: 22px;
    padding: 7px 22px;
    background: rgb(0,192,255);
    background: -moz-linear-gradient(top,  rgba(0,192,255,0.89) 0%, rgba(16,119,145,0.89) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,192,255,0.89)), color-stop(100%,rgba(16,119,145,0.89)));
    background: -webkit-linear-gradient(top,  rgba(0,192,255,0.89) 0%,rgba(16,119,145,0.89) 100%);
    background: -o-linear-gradient(top,  rgba(0,192,255,0.89) 0%,rgba(16,119,145,0.89) 100%);
    background: -ms-linear-gradient(top,  rgba(0,192,255,0.89) 0%,rgba(16,119,145,0.89) 100%);
    background: linear-gradient(to bottom,  rgba(0,192,255,0.89) 0%,rgba(16,119,145,0.89) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c0ff', endColorstr='#107791',GradientType=0 );

   /*border: 1px solid rgba(6,95,120,0.38);*/
    border-radius: 6px;
    box-shadow: 0px 2px 1px rgba(16,90,110,1);

    font-family: Tahoma, "Times New Roman", Times, serif;
    font-size: 17px;
    color: #FFFFFF;
}
.w-adverts_link a:hover {
    text-decoration: none;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 0%, #107791 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#7db9e8), color-stop(100%,#107791)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 0%,#107791 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#7db9e8 0%,#107791 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#7db9e8 0%,#107791 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#7db9e8 0%,#107791 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#107791',GradientType=0 ); /* IE6-9 */

    border-radius: 6px;
}

.divline2{
    padding: 0px 31px 0px 21px;
}

.w-catlog_all {
    display:none;
    position: relative;
    width: 100%;
    padding: 20px 0;
    background: #e5e5e5;
    margin-top: 5px;
}
.w-catlog_all.visible{
    display:block;
}
.dashed{
    text-decoration: none!important;
    color: #740c00!important;
    border-bottom: 1px dashed #000000;
    margin-bottom: 20px!important;
    line-height: 15px;
    margin-top: 5px;
}
.dashed a:hover{
    text-decoration: none!important;
}
.w-catlog_all:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 14px solid #e5e5e5;
    top: -13px;
    right: 6%;
}
.w-catlog_all ul {
     width: 20%;
     display: inline-block;
     vertical-align: top;
     position: relative;
 }
.w-catlog_all ul:last-child  {
     width: 20%;
     display: inline-block;
     vertical-align: top;
     position: relative;
 }
.w-catlog_all ul:last-child li  {
    width: 100%;
    list-style: none;
    padding: 0 60px;
}
.w-catlog_all ul li {
    width: 101%;
    list-style: none;
    padding: 0 30px;
}
.w-catlog_all ul li a {
    color: #000000;
    font-family: 'PT Serif', georgia, times, sans-serif;
    font-size: 16px;
    text-decoration: underline;
}
.w-catlog_all ul li.w-catalog_activ a {
   color: #740c00;
   text-decoration: underline;
}
.w-catlog_all ul li a:hover {
    text-decoration: underline;
}
/*****************************************************************************************************/
.search-form-adverts {
    background-color: #F2F2F2;
    padding: 15px;
}

.search-form-adverts input[type="text"] {
    width: 300px;
    background-color: #ffffff;
    margin-right: 15px;
}

.advertscat li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.advertscat {
    text-align: center;
}

.parent-term {
    background-color: #cccccc;
}

.child-term {
    padding-left: 10px;
}

.w-search-block {
    padding: 20px 0 16px 0;
    width: 100%;
    background: #f6de9c;
    overflow: hidden;
}

.w-search-block input[type=submit] {
    font-family: Tahoma;
    font-size: 12pt;
}

.w-sea-category, .w-check, .w-add-note, #getFields {
    padding: 0 30px;
}
.w-sea-category input[type=submit] {
    float: right;
    width: 9%;
    height: 28px;
}
#getFields select,#getFields input{
    padding: 7px;
    margin: 2px 22px 0 0;
    font-size: 12.75pt !important;
    font-family: Arial, Tahoma, sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 28%;
}
.w-sea-category select{
    margin: 0 19px 0 0!important;
}
.w-sea-category input[type="text"], .w-sea-category select,  .lg-input {
    width: 41%;
    padding: 7px;
    margin: 0 19px 0 0;
    font-size: 12.75pt !important;
    font-family: Arial, Tahoma, sans-serif;
}
.petrjus-select select{
    width: 24%;
    padding: 7px;
    margin: 2px 0px 0 9px;
    font-size: 12.75pt !important;
    font-family: Arial, Tahoma, sans-serif;
}

.w-inp_sel {
    border: 1px solid #ccc;
    background: #fff;
}

input.w-inp_sel {
    padding: 8px 7px;
}

/*#getFields*/
.w-check{
    margin: 7px 0 0;
}
.w-add-note {
    margin: 10px 0 0;
}
.w-check label {
    margin-right: 21px;
}

.w-check label span {
    vertical-align: top;
    font-family: Tahoma;
    font-size: 10.5pt !important;
}

#getFields div {
    width: 100%;
    /*text-align: justify;*/
}

.w-dir {
    margin: 25px 0 0 0;
    color: #000;
    font-family: 'PT Serif', sans-serif, georgia, times;
    font-size: 12pt;
    border-bottom: 1px solid #f0f0f0;
}

.nav-bread {
    font-family: 'PT Serif', sans-serif, georgia, times;
    font-size: 12pt;
    color: #000;
    float: right;
    margin-right: 10px;
    text-decoration: underline;
    color: #740c00;
}

.nav-bread a {
    color: #740c00 !important;
}

.w-dir a {
    color: #000;
}

.w-dir ul li {
    list-style: none;
    display: inline-block;
    font-family: 'PT Serif', sans-serif, georgia, times;
    font-size: 12pt;
}

.w-dir ul li span {
    color: #a3a3a3;
}

.w-caret {
    padding: 0 10px;
    color: #a3a3a3;
}

.w-cpd {
    padding: 0;
}

.w-menu{
    /*padding: 14px 0 0;*/

     font-size: 14px!important;
}

.w-lenta {
    margin: 25px 0 0;
}

.w-lenta ul li {
    list-style: none;
    vertical-align: top;
    position: relative;
}
.w-lenta ul li.w-even + li.w-even {border-top: 1px solid #ebebeb;}
.w-lenta ul li.w-even .w-even-wrap {padding: 5px 7px;}
.w-lenta ul li.w-even:hover .w-even-wrap {background: #ededed;}

.w-lenta ul li ul {
    margin: 0;
}

.w-lenta ul li ul li {
    display: inline-block;
}

.w-lenta ul li .permalink {
    display: block;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.w-lenta .w-day, .w-lenta .day p {
    font-family: 'PT Serif', georgia, times, sans-serif;
    font-size: 14px;
    width: 65px;
}

.w-lenta li.w-day {
    overflow: hidden;
    padding-left: 5px !important;
    padding-right: 0px !important;
}

.w-lenta .w-day p {
    color: #a3a3a3;
    font-family: 'PT Serif', georgia, times, sans-serif;
    font-size: 14px;
    max-width: 50px;
}

.w-day p {
    margin-top: 0px;
}

.w-lenta .w-img {
    height: 110px;
    width: 131px;
    text-align: center;
    margin: 0 10px 0 6px;
}

.w-lenta .w-img img {
    border: 1px solid #cccccc;
    max-height: 100%;
    width: auto;
}

.w-lenta .w-manual a.title {
    font-size: 16px;
    color: #740c00;
    text-decoration: underline;
    font-weight: bold;
}

.w-manual span.category{
    color:#b1b1b1!important;
    font-size:10.5pt!important;
}

.w-lenta .w-manual p, .w-lenta .w-manual .desc {
    font-family: 'PT Serif', georgia, times, sans-serif;
    font-size: 16px;
}

.w-lenta .w-manual .desc {
    color: #666666;
}

/*.even {background: #f2f2f2;}*/

.w-zag {
    font-family: Tahoma, georgia, times, sans-serif;
    font-size: 27px !important;
    font-weight: bold;
}

.w-miniform .w-zag {
    font-size: 18px;
}

.w-form ul li {
    font-size: 17px;
    list-style: none;
}

.w-form ul li ul li {
    display: inline-block;
}

.w-form .w-sm {
    width: 20%;
}

.w-form .w-lg {
    width: 79%;
}

.gField {
    padding: 0 !important;
    margin: 0 !important;
}

#acf-field-adverts_sub_cat.w-info-error {
    color: #000000;
}

.w-info-ok {
    color: green;
    font-style: italic;
}

.w-status-info {
    font-family: 'PT Serif', georgia, times, sans-serif;
    font-style: italic;
    background: #d4f7ff;
    border: 1px solid #6bc0ec;
    border-radius: 3px;
    color: #666;
    font-size: 17px;
    padding: 10px;
}

.w-info-read {
    font-family: 'PT Serif', georgia, times, sans-serif;
    color: #000;
}

.w-info-read ul li, .w-soc ul li {
    list-style: none;
}

.w-info-read ul li ul li {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    font-size: 17px;
}

.w-info-read .w-listname {
    width: 20%;
}

.w-info-read .w-listresult {
    width: 79%;
    color: #676767;
}

.w-info-read .w-listresult .w-listresult-images {
    width: 194px;
    height: 154px;
    display: inline-block;
    text-align: center;
}

.w-info-read .w-listresult img {
    max-height: 100%;
    width: auto;
    margin: 0 0 0 10px;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    vertical-align: top;
}

.w-miniform {
    margin: 50px 0 0;
}

.w-miniform ul li ul li {
    vertical-align: middle;
}

.w-miniform ul li ul li a {
    font-size: 12.75pt;
}

.w-lenta .w-manual a.norel {
    text-decoration: none;
}

.divline {
    margin: 0 0 0 26%;
}

.divline div{
    display: inline;
}

.divline input, .divline select {
    margin: 0 25px 5px 0;
}

.addAdverts_btn {
    text-align: center;
    width: 100%;
    font-size: 12.75pt;
    font-family: Tahoma, georgia, times, sans-serif;
}

.w-zag {
    font-family: Tahoma, georgia, times, sans-serif;
    font-size: 27px;
    font-weight: bold;
}

.w-miniform .w-zag, .w-kartocka .w-zag {
    font-size: 18px;
}

.w-form ul li {
    font-size: 17px;
    list-style: none;
}

.w-form ul li ul li {
    display: inline-block;
}

.w-form .w-sm {
    width: 20%;
}

.w-form textarea{
    color: #000000!important;
    font-size: 12pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.w-form select {width: 41%;}
.w-form input.w-info-error, .w-form select.w-info-error, .w-form textarea.w-info-error {
    color: #000000!important;
    font-style: normal;
}

.gField {
    padding: 0 !important;
    margin: 0 !important;
}

.w-info-error {
    color: #fc4b4b;
    font-style: italic;
}

.w-info-ok {
    color: green;
    font-style: italic;
}

.w-status-info {
    font-family: sans-serif, georgia, times, sans-serif;
    font-style: italic;
    background: #d4f7ff;
    border: 1px solid #6bc0ec;
    border-radius: 3px;
    color: #666;
    font-size: 17px;
    padding: 10px;
}

.w-miniform {
    margin: 50px 0 0;
}

.w-miniform ul li ul li {
    vertical-align: middle;
}

.w-miniform ul li ul li a, .w-soc ul li a {
    font-size: 14px;
}

.w-dir ul {
    position: relative;
}

.w-dir_a {
    float: right;
    display: inline-block;
    margin: 1px 0 0;
    padding: 0 5px;
}

.w-dir_a a {
    font-size: 14px;
    top: 1px;
}

.w-kartocka {
    /*border-top: 1px solid #f2f2f2;*/
    padding: 10px 0;
}

.w-miniform .w-listresult {
    color: #000;
}

.w-miniform .w-alllistresult {
    width: 100%;
}

.w-birk {
    background: orange;
    padding: 0px 10px;
    color: #ffffff;
}

.w-kartform {
    margin: 0;
}

.w-b-bott {
    border-bottom: 1px solid #f2f2f2;
}

.w-b-bott li {

}

.w-mail-soc {
    font-family: 'PT Serif', georgia, times, sans-serif;
    background: #f2f2f2;
    border: 1px solid #cfcfcf;
    padding: 3px 15px;
}

.w-mail-soc span {
    padding-top: 2px;
    float: right;
    margin: 0 2px;
}

.w-mail-soc span img {
    vertical-align: middle;
}

.image_file_load {
    background-color: white;
}

.addNewImage {
    text-decoration: none;
    font-family: 'PT Serif', georgia, times, sans-serif;
    font-size: 10.5pt;
    border-bottom: 1px dotted #740c00; /* Параметры линии */
}

.addNewImage:hover {
    text-decoration: none !important;
}

.deleteNewImage {
    color: #740C00;
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin: 5px 0 0 5px;
    vertical-align: top;
}

.w-form ul li ul li {
    display: inline-block;
    vertical-align: top;
}

.w-manual {
    width: 73%;
}

.w_user_panel div {
    margin: 0;
}

.w_mess_form {
    display: none;
    padding: 20px;
    height: 100%;
    background-color: #f9f9f9;
    border-top: 0;
    border: 1px solid #cfcfcf;
}

.input_white_form {
    background-color: #FFFFFF;
    color: #000000 !important;
}

.input_white_form_2 {
    color: #000000 !important;
}

.w-mar_5 li {
    margin: 5px 0;
}

#w_mesage_form {
    font-size: 14px;
}

#w_mesage_form ul {
    margin: 0px;
}

#w_mesage_form ul li {
    list-style: none;
}

/*gallery  style*/
@charset "utf-8";
/* CSS Document */
.lof-slidecontent, .lof-slidecontent a {
    color: #FFF;
}

.lof-slidecontent a.readmore {
    color: #58B1EA;
    font-size: 95%;

}

.lof-slidecontent {
    width: 900px;
    height: 432px;
    position: relative;
    overflow: hidden;
    /*margin:auto;*/
}

.lof-slidecontent .preload {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000;
    text-align: center;
    background: #FFF
}

.lof-slidecontent .preload div {
    height: 100%;
    width: 100%;
    background: transparent url(../images/load-indicator.gif) no-repeat scroll 50% 50%;
}

.lof-main-outer {
    float: left;
    position: relative;
    height: 432px;
    width: 80%;
    z-index: 3;
    overflow: hidden;
    display: table-cell;
}

/*******************************************************/
.lof-main-item-desc {
    z-index: 100;
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 350px;
    background: url(../images/bg_trans.png);
    height: 100px;
    /* filter:0.7(opacity:60) */
    padding: 10px;
}

.lof-main-item-desc p {
    margin: 0 8px;
    padding: 8px 0
}

.lof-main-item-desc h3 {
    padding: 0;
    margin: 0
}

.lof-main-item-desc h2 {
    padding: 0;
    margin: 15px 0 0 0px;
}

.lof-main-item-desc h3 a {
    margin: 0;
    background: #C01F25;
    font-size: 75%;
    padding: 2px 3px;
    font-family: "Trebuchet MS", Trebuchet, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    text-decoration: none
}

.lof-main-item-desc h3 a:hover {

    text-decoration: underline;
}

.lof-main-item-desc h3 i {
    font-size: 70%;
}

/* main flash */
ul.lof-main-wapper {
    /* margin-right:auto; */
    overflow: hidden;
    background: transparent url(../images/load-indicator.gif) no-repeat scroll 50% 50%;
    padding: 0px;
    display: table;
    margin: 0 !important;
    height: 432px;
    position: absolute;
    overflow: hidden;
}

ul.lof-main-wapper li {
    overflow: hidden;
    height: 100%;
    width: 720px;
    padding: 0px;
    margin: 0px;
    float: left;
    position: relative;
    display: block
}

.otable {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    height: 430px;
    width: 100%;
}

.lof-opacity li {
    position: absolute;
    top: 0;
    left: 0;
    float: inherit;
}

ul.lof-main-wapper li img {
    /*position:absolute;*/
    /*left:0;*/
    /*top:0;*/
    /*min-width:100%;*/
    /*min-height:100%;*/
    /*height:480px;*/
    /*width:798px;*/
    /*padding:0px;*/
}

.lupa {
    position: absolute;
    text-decoration: none;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 27px;
    height: 27px;
    z-index: 2;
    top: 5px;
    right: 5px;
    background: url(../images/lupa.png) left top no-repeat;
    cursor: pointer;
}

/* item navigator */
.lof-navigator-wapper {
    position: relative;
    margin-left: 720px;
    width: 180px;
    height: 430px;
}

.lof-navigator-outer {
    position: relative;
    z-index: 100;
    height: 197px;
    width: 100%;
    overflow: hidden;
    color: #FFF;
    float: left
}

ul.lof-navigator {
    top: 0;
    padding: 0;
    margin: 0 !important;
    position: absolute;
    width: 100%;
}

ul.lof-navigator li {
    position: relative;
    cursor: pointer;
    list-style: none;
    padding: 0;
    margin-left: 0;
    overflow: hidden;
    float: left;
    display: block;

    text-align: center;

}

ul.lof-navigator li img {
    max-height: 100%;
    opacity: 0.7;
    width: auto;
}

ul.lof-navigator li.active img, ul.lof-navigator li:hover img {
    opacity: 1;
}

.lof-navigator-wapper .lof-next, .lof-navigator-wapper .lof-previous {
    display: block;
    height: 30px;
    color: #FFF;
    cursor: pointer;

}

.lof-navigator-wapper .lof-next {
    position: absolute;
    z-index: 103;
    text-indent: 100%;
    height: 20px;
    left: 0;
    bottom: -2px;
    width: 100%;
    background: rgba(179, 179, 179, .7) url(../images/arrow-r.png) center center no-repeat;
}

.lof-navigator-wapper .lof-previous {
    position: absolute;
    z-index: 103;
    text-indent: 100%;
    height: 20px;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(179, 179, 179, .7) url(../images/arrow-l.png) center center no-repeat;
}

.lof-main-next, .lof-main-previous {position: absolute; display: block; width: 50px; height: 432px;}
.lof-main-next {right: 0; background: url('../images/lof-main-next.png') no-repeat;}
.lof-main-previous {left: 0; background: url('../images/lof-main-previous.png') no-repeat;}

/**/
.time-edit {
    font-size: 11px;
    color: #000000;
}

.w-kartocka .container {
    text-align: center;
}

#captcha-image {vertical-align: middle; margin-right: 10px;}
#refresh-captcha {font-size: 12px; color: #aaaaaa;}
#captcha {margin-right: 22px; width: 168px;}

.NFI-wrapper {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    font-size: 12px;
}
.NFI-filename {
    color: #777777;
    height: 30px;
    width: 152px;
}
.NFI-button {
    padding: 5px 5px 4px;
    cursor: pointer;
    text-decoration: none;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    color:#000000;
    text-shadow:0 1px 0 rgba(255,255,255,0.5);
    border:1px solid #bbbbbb;
    background:#eeeeee;
    background:-moz-linear-gradient(top,#ffffff 0%,#dcdcdc 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#dcdcdc));
    background:-webkit-linear-gradient(top,#ffffff 0%,#dcdcdc 100%);
    background:-o-linear-gradient(top,#ffffff 0%,#dcdcdc 100%);
    background:-ms-linear-gradient(top,#ffffff 0%,#dcdcdc 100%);
    background:linear-gradient(top,#ffffff 0%,#dcdcdc 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#d3d3d3',GradientType=0);
    box-shadow: inset 1px 1px 0px #FFF;
    width: 150px;
}
.NFI-button:hover {
    text-decoration: none;
    color:#000000;
    text-shadow:0 1px 0 rgba(255,255,255,0.5);
    border:1px solid #aeaeae;
    background:#e1e1e1;
    background:-moz-linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#cfcfcf));
    background:-webkit-linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%);
    background:-o-linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%);
    background:-ms-linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%);
    background:linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#d3d3d3',GradientType=0);
}
.NFI-button:active {
    color:#000000;
    text-shadow:0 1px 0 rgba(255,255,255,0.5);
    border:1px solid #8e8e8e;
    background:#c1c1c1;
    background:-moz-linear-gradient(top,#afafaf 0%,#d3d3d3 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#d3d3d3));
    background:-webkit-linear-gradient(top,#afafaf 0%,#d3d3d3 100%);
    background:-o-linear-gradient(top,#afafaf 0%,#d3d3d3 100%);
    background:-ms-linear-gradient(top,#afafaf 0%,#d3d3d3 100%);
    background:linear-gradient(top,#afafaf 0%,#d3d3d3 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#d3d3d3',GradientType=0);
    box-shadow: none;
}
