@font-face {
    font-family: 'MyriadProBoldItalic';
	font-style: normal;
	font-weight: normal;
    src: url('myriadpro-boldit.eot');
    src: url('myriadpro-boldit.eot') format('embedded-opentype'),
         url('myriadpro-boldit.woff') format('woff'),
         url('myriadpro-boldit.ttf') format('truetype'),
         url('myriadpro-boldit.svg#MyriadProBoldItalic') format('svg');
}
