@CHARSET "UTF-8";

html, body,
a, abbr, acronym, address, applet, article, aside, audio,
b, big, blockquote, canvas, caption, center, cite, code,
dd, del, details, dfn, div, dl, dt,  em, embed,
fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup,
i, iframe, img, ins, kbd,  label, legend, li, mark, menu, nav, object, ol, output,
p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup,
table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height:1;
	height: 100%;
	font-size: 12px;
	font-family: helvetica, arial, sans-serif;
	color: #222222;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
}

ol, ul {
	list-style: none;
	display: block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}

svg:not(:root) {
	overflow: hidden;
}

abbr[title], acronym[title], dfn[title]	 {
	border-bottom: 1px dotted;
	cursor: help;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 0;
	padding: 0;
}

input, select {
	vertical-align: middle;
}

:focus {
	outline:0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 117%;
}

h4{
	font-size: 100%;
}

h5 {
	font-size: 83%;
}

h6 {
	font-size: 75%;
}

code, kbd, pre, samp, tt, var {
	font-family: monospace;
	_font-family: 'courier new', monospace;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

cite, dfn, em, i {
	font-style: italic;
}

b, caption, dt, legend, strong, th, thead {
	font-weight: bold;
}

mark {
	font-style: italic;
	font-weight: bold;
}

small {
	font-size: 75%;
}

big {
	font-size: 110%;
}

del, s, strike {
	text-decoration: line-through;
}

ins, u {
	text-decoration:underline;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

ul {
	list-style-type: none;
}

ol {
	list-style-type: decimal;
}

li {
	display: list-item;
}

form {
	overflow: hidden;
}

textarea {
	padding: 0;
	overflow: auto;
	vertical-align: top;
	resize: none;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled], input[disabled] {
	cursor: default;
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

.clearfix:before, .clearfix:after {
	content:'';
	display:table;
}

.clearfix:after {
	clear:both;
}