@font-face {
    font-family: 'MyriadProBoldCondensed';
	font-style: normal;
	font-weight: normal;
    src: url('myriadpro-boldcond.eot');
    src: url('myriadpro-boldcond.eot') format('embedded-opentype'),
         url('myriadpro-boldcond.woff') format('woff'),
         url('myriadpro-boldcond.ttf') format('truetype'),
         url('myriadpro-boldcond.svg#MyriadProBoldCondensed') format('svg');
}
