@font-face {
	font-family: 'townpress';
	src:url('../wp-content/themes/chgtown/fonts/townpress.eot?vipslq');
	src:url('../wp-content/themes/chgtown/fonts/townpress.eot?#iefixvipslq') format('embedded-opentype'),
		url('../wp-content/themes/chgtown/fonts/townpress.woff?vipslq') format('woff'),
		url('../wp-content/themes/chgtown/fonts/townpress.ttf?vipslq') format('truetype'),
		url('../wp-content/themes/chgtown/fonts/townpress.svg?vipslq#townpress') format('svg');
	font-weight: normal;
	font-style: normal;
}

.tp {
	font-family: 'townpress';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.tp-home:before {
	content: "\e600";
}

.tp-bathtub:before {
	content: "\e601";
}

.tp-toothbrush:before {
	content: "\e602";
}

.tp-bed:before {
	content: "\e603";
}

.tp-couch:before {
	content: "\e604";
}

.tp-chair:before {
	content: "\e605";
}

.tp-city:before {
	content: "\e606";
}

.tp-apartment:before {
	content: "\e607";
}

.tp-pencil:before {
	content: "\e608";
}

.tp-pencil2:before {
	content: "\e609";
}

.tp-eraser:before {
	content: "\e60a";
}

.tp-pencil3:before {
	content: "\e60b";
}

.tp-feather:before {
	content: "\e60c";
}

.tp-feather2:before {
	content: "\e60d";
}

.tp-vector:before {
	content: "\e60e";
}

.tp-pen:before {
	content: "\e60f";
}

.tp-brush:before {
	content: "\e610";
}

.tp-spray:before {
	content: "\e611";
}

.tp-paint-roller:before {
	content: "\e612";
}

.tp-stamp:before {
	content: "\e613";
}

.tp-tape:before {
	content: "\e614";
}

.tp-desk-tape:before {
	content: "\e615";
}

.tp-texture:before {
	content: "\e616";
}

.tp-eye-dropper:before {
	content: "\e617";
}

.tp-palette:before {
	content: "\e618";
}

.tp-color-sampler:before {
	content: "\e619";
}

.tp-bucket:before {
	content: "\e61a";
}

.tp-magic-wand:before {
	content: "\e61b";
}

.tp-magnet:before {
	content: "\e61c";
}

.tp-pencil-ruler:before {
	content: "\e61d";
}

.tp-pencil-ruler2:before {
	content: "\e61e";
}

.tp-compass:before {
	content: "\e61f";
}

.tp-aim:before {
	content: "\e620";
}

.tp-gun:before {
	content: "\e621";
}

.tp-bottle:before {
	content: "\e622";
}

.tp-drop-crossed:before {
	content: "\e623";
}

.tp-drop:before {
	content: "\e624";
}

.tp-snow:before {
	content: "\e625";
}

.tp-fire:before {
	content: "\e626";
}

.tp-lighter:before {
	content: "\e627";
}

.tp-knife:before {
	content: "\e628";
}

.tp-dagger:before {
	content: "\e629";
}

.tp-tissue:before {
	content: "\e62a";
}

.tp-toilet-paper:before {
	content: "\e62b";
}

.tp-poop:before {
	content: "\e62c";
}

.tp-umbrella:before {
	content: "\e62d";
}

.tp-umbrella2:before {
	content: "\e62e";
}

.tp-rain:before {
	content: "\e62f";
}

.tp-tornado:before {
	content: "\e630";
}

.tp-wind:before {
	content: "\e631";
}

.tp-fan:before {
	content: "\e632";
}

.tp-contrast:before {
	content: "\e633";
}

.tp-sun-small:before {
	content: "\e634";
}

.tp-sun:before {
	content: "\e635";
}

.tp-moon:before {
	content: "\e636";
}

.tp-cloud:before {
	content: "\e637";
}

.tp-cloud-upload:before {
	content: "\e638";
}

.tp-cloud-download:before {
	content: "\e639";
}

.tp-cloud-rain:before {
	content: "\e63a";
}

.tp-cloud-hailstones:before {
	content: "\e63b";
}

.tp-cloud-snow:before {
	content: "\e63c";
}

.tp-cloud-windy:before {
	content: "\e63d";
}

.tp-sun-wind:before {
	content: "\e63e";
}

.tp-cloud-fog:before {
	content: "\e63f";
}

.tp-cloud-sun:before {
	content: "\e640";
}

.tp-cloud-lightning:before {
	content: "\e641";
}

.tp-cloud-check:before {
	content: "\e642";
}

.tp-cloud-cross:before {
	content: "\e643";
}

.tp-cloud-crossed:before {
	content: "\e644";
}

.tp-cloud-database:before {
	content: "\e645";
}

.tp-database:before {
	content: "\e646";
}

.tp-database-lock:before {
	content: "\e647";
}

.tp-database-check:before {
	content: "\e648";
}

.tp-database-upload:before {
	content: "\e649";
}

.tp-database-download:before {
	content: "\e64a";
}

.tp-server:before {
	content: "\e64b";
}

.tp-shield:before {
	content: "\e64c";
}

.tp-shield-check:before {
	content: "\e64d";
}

.tp-shield-alert:before {
	content: "\e64e";
}

.tp-shield-cross:before {
	content: "\e64f";
}

.tp-lock:before {
	content: "\e650";
}

.tp-rotation-lock:before {
	content: "\e651";
}

.tp-unlock:before {
	content: "\e652";
}

.tp-key:before {
	content: "\e653";
}

.tp-key-hole:before {
	content: "\e654";
}

.tp-cog:before {
	content: "\e655";
}

.tp-wrench:before {
	content: "\e656";
}

.tp-screwdriver:before {
	content: "\e657";
}

.tp-hammer-wrench:before {
	content: "\e658";
}

.tp-hammer:before {
	content: "\e659";
}

.tp-saw:before {
	content: "\e65a";
}

.tp-axe:before {
	content: "\e65b";
}

.tp-shovel:before {
	content: "\e65c";
}

.tp-pickaxe:before {
	content: "\e65d";
}

.tp-factory:before {
	content: "\e65e";
}

.tp-recycle:before {
	content: "\e65f";
}

.tp-trash:before {
	content: "\e660";
}

.tp-broom:before {
	content: "\e661";
}

.tp-game:before {
	content: "\e662";
}

.tp-gamepad:before {
	content: "\e663";
}

.tp-joystick:before {
	content: "\e664";
}

.tp-dice:before {
	content: "\e665";
}

.tp-spades:before {
	content: "\e666";
}

.tp-diamonds:before {
	content: "\e667";
}

.tp-clubs:before {
	content: "\e668";
}

.tp-hearts:before {
	content: "\e669";
}

.tp-star:before {
	content: "\e66a";
}

.tp-star-half:before {
	content: "\e66b";
}

.tp-star-empty:before {
	content: "\e66c";
}

.tp-flag:before {
	content: "\e66d";
}

.tp-mailbox-full:before {
	content: "\e66e";
}

.tp-mailbox-empty:before {
	content: "\e66f";
}

.tp-at-sign:before {
	content: "\e670";
}

.tp-envelope:before {
	content: "\e671";
}

.tp-envelope-open:before {
	content: "\e672";
}

.tp-paperclip:before {
	content: "\e673";
}

.tp-paper-plane:before {
	content: "\e674";
}

.tp-reply:before {
	content: "\e675";
}

.tp-inbox:before {
	content: "\e676";
}

.tp-inbox2:before {
	content: "\e677";
}

.tp-outbox:before {
	content: "\e678";
}

.tp-box:before {
	content: "\e679";
}

.tp-archive:before {
	content: "\e67a";
}

.tp-drawers:before {
	content: "\e67b";
}

.tp-drawers2:before {
	content: "\e67c";
}

.tp-drawers3:before {
	content: "\e67d";
}

.tp-eye:before {
	content: "\e67e";
}

.tp-eye-crossed:before {
	content: "\e67f";
}

.tp-binoculars:before {
	content: "\e680";
}

.tp-hdd:before {
	content: "\e681";
}

.tp-hdd-down:before {
	content: "\e682";
}

.tp-hdd-up:before {
	content: "\e683";
}

.tp-floppy-disk:before {
	content: "\e684";
}

.tp-disc:before {
	content: "\e685";
}

.tp-tape2:before {
	content: "\e686";
}

.tp-printer:before {
	content: "\e687";
}

.tp-file-empty:before {
	content: "\e688";
}

.tp-file-add:before {
	content: "\e689";
}

.tp-file-check:before {
	content: "\e68a";
}

.tp-file-lock:before {
	content: "\e68b";
}

.tp-files:before {
	content: "\e68c";
}

.tp-copy:before {
	content: "\e68d";
}

.tp-compare:before {
	content: "\e68e";
}

.tp-folder:before {
	content: "\e68f";
}

.tp-folder-search:before {
	content: "\e690";
}

.tp-folder-plus:before {
	content: "\e691";
}

.tp-folder-minus:before {
	content: "\e692";
}

.tp-folder-download:before {
	content: "\e693";
}

.tp-folder-upload:before {
	content: "\e694";
}

.tp-folder-star:before {
	content: "\e695";
}

.tp-folder-heart:before {
	content: "\e696";
}

.tp-folder-user:before {
	content: "\e697";
}

.tp-folder-music:before {
	content: "\e698";
}

.tp-folder-picture:before {
	content: "\e699";
}

.tp-folder-film:before {
	content: "\e69a";
}

.tp-scissors:before {
	content: "\e69b";
}

.tp-paste:before {
	content: "\e69c";
}

.tp-clipboard-empty:before {
	content: "\e69d";
}

.tp-clipboard-pencil:before {
	content: "\e69e";
}

.tp-clipboard-text:before {
	content: "\e69f";
}

.tp-clipboard-check:before {
	content: "\e6a0";
}

.tp-clipboard-down:before {
	content: "\e6a1";
}

.tp-clipboard-left:before {
	content: "\e6a2";
}

.tp-clipboard-alert:before {
	content: "\e6a3";
}

.tp-clipboard-user:before {
	content: "\e6a4";
}

.tp-register:before {
	content: "\e6a5";
}

.tp-enter:before {
	content: "\e6a6";
}

.tp-exit:before {
	content: "\e6a7";
}

.tp-papers:before {
	content: "\e6a8";
}

.tp-news:before {
	content: "\e6a9";
}

.tp-reading:before {
	content: "\e6aa";
}

.tp-typewriter:before {
	content: "\e6ab";
}

.tp-document:before {
	content: "\e6ac";
}

.tp-document2:before {
	content: "\e6ad";
}

.tp-graduation-hat:before {
	content: "\e6ae";
}

.tp-license:before {
	content: "\e6af";
}

.tp-license2:before {
	content: "\e6b0";
}

.tp-medal-empty:before {
	content: "\e6b1";
}

.tp-medal-first:before {
	content: "\e6b2";
}

.tp-medal-second:before {
	content: "\e6b3";
}

.tp-medal-third:before {
	content: "\e6b4";
}

.tp-podium:before {
	content: "\e6b5";
}

.tp-trophy:before {
	content: "\e6b6";
}

.tp-music-note:before {
	content: "\e6b7";
}

.tp-music-note2:before {
	content: "\e6b8";
}

.tp-trumpet:before {
	content: "\e6b9";
}

.tp-album:before {
	content: "\e6ba";
}

.tp-shuffle:before {
	content: "\e6bb";
}

.tp-repeat-one:before {
	content: "\e6bc";
}

.tp-repeat:before {
	content: "\e6bd";
}

.tp-headphones:before {
	content: "\e6be";
}

.tp-headset:before {
	content: "\e6bf";
}

.tp-loudspeaker:before {
	content: "\e6c0";
}

.tp-equalizer:before {
	content: "\e6c1";
}

.tp-theater:before {
	content: "\e6c2";
}

.tp-3d-glasses:before {
	content: "\e6c3";
}

.tp-ticket:before {
	content: "\e6c4";
}

.tp-play:before {
	content: "\e6c5";
}

.tp-film-play:before {
	content: "\e6c6";
}

.tp-clapboard-play:before {
	content: "\e6c7";
}

.tp-media:before {
	content: "\e6c8";
}

.tp-film:before {
	content: "\e6c9";
}

.tp-film2:before {
	content: "\e6ca";
}

.tp-surveillance:before {
	content: "\e6cb";
}

.tp-camera:before {
	content: "\e6cc";
}

.tp-camera-crossed:before {
	content: "\e6cd";
}

.tp-camera-play:before {
	content: "\e6ce";
}

.tp-time-lapse:before {
	content: "\e6cf";
}

.tp-record:before {
	content: "\e6d0";
}

.tp-camera2:before {
	content: "\e6d1";
}

.tp-camera-flip:before {
	content: "\e6d2";
}

.tp-shutter:before {
	content: "\e6d3";
}

.tp-picture:before {
	content: "\e6d4";
}

.tp-pictures:before {
	content: "\e6d5";
}

.tp-book:before {
	content: "\e6d6";
}

.tp-audio-book:before {
	content: "\e6d7";
}

.tp-bookmark:before {
	content: "\e6d8";
}

.tp-bookmark2:before {
	content: "\e6d9";
}

.tp-label:before {
	content: "\e6da";
}

.tp-library:before {
	content: "\e6db";
}

.tp-library2:before {
	content: "\e6dc";
}

.tp-contacts:before {
	content: "\e6dd";
}

.tp-profile:before {
	content: "\e6de";
}

.tp-portrait:before {
	content: "\e6df";
}

.tp-user:before {
	content: "\e6e0";
}

.tp-user-plus:before {
	content: "\e6e1";
}

.tp-user-minus:before {
	content: "\e6e2";
}

.tp-user-lock:before {
	content: "\e6e3";
}

.tp-users:before {
	content: "\e6e4";
}

.tp-users-plus:before {
	content: "\e6e5";
}

.tp-users-minus:before {
	content: "\e6e6";
}

.tp-group-work:before {
	content: "\e6e7";
}

.tp-woman:before {
	content: "\e6e8";
}

.tp-man:before {
	content: "\e6e9";
}

.tp-baby:before {
	content: "\e6ea";
}

.tp-baby2:before {
	content: "\e6eb";
}

.tp-baby3:before {
	content: "\e6ec";
}

.tp-baby-bottle:before {
	content: "\e6ed";
}

.tp-walk:before {
	content: "\e6ee";
}

.tp-hand-waving:before {
	content: "\e6ef";
}

.tp-jump:before {
	content: "\e6f0";
}

.tp-run:before {
	content: "\e6f1";
}

.tp-woman2:before {
	content: "\e6f2";
}

.tp-man2:before {
	content: "\e6f3";
}

.tp-man-woman:before {
	content: "\e6f4";
}

.tp-height:before {
	content: "\e6f5";
}

.tp-button:before {
	content: "\e6f6";
}

.tp-bow-tie:before {
	content: "\e6f7";
}

.tp-tie:before {
	content: "\e6f8";
}

.tp-socks:before {
	content: "\e6f9";
}

.tp-shoe:before {
	content: "\e6fa";
}

.tp-shoes:before {
	content: "\e6fb";
}

.tp-hat:before {
	content: "\e6fc";
}

.tp-pants:before {
	content: "\e6fd";
}

.tp-shorts:before {
	content: "\e6fe";
}

.tp-flip-flops:before {
	content: "\e6ff";
}

.tp-shirt:before {
	content: "\e700";
}

.tp-hanger:before {
	content: "\e701";
}

.tp-laundry:before {
	content: "\e702";
}

.tp-store:before {
	content: "\e703";
}

.tp-haircut:before {
	content: "\e704";
}

.tp-store-24:before {
	content: "\e705";
}

.tp-barcode:before {
	content: "\e706";
}

.tp-cashier:before {
	content: "\e707";
}

.tp-bag:before {
	content: "\e708";
}

.tp-cart:before {
	content: "\e709";
}

.tp-cart-full:before {
	content: "\e70a";
}

.tp-cart-plus:before {
	content: "\e70b";
}

.tp-tag:before {
	content: "\e70c";
}

.tp-tags:before {
	content: "\e70d";
}

.tp-receipt:before {
	content: "\e70e";
}

.tp-credit-card:before {
	content: "\e70f";
}

.tp-cash-dollar:before {
	content: "\e710";
}

.tp-cash-euro:before {
	content: "\e711";
}

.tp-cash-pound:before {
	content: "\e712";
}

.tp-cash-yen:before {
	content: "\e713";
}

.tp-bag-dollar:before {
	content: "\e714";
}

.tp-bag-euro:before {
	content: "\e715";
}

.tp-bag-pound:before {
	content: "\e716";
}

.tp-bag-yen:before {
	content: "\e717";
}

.tp-coin-dollar:before {
	content: "\e718";
}

.tp-coin-euro:before {
	content: "\e719";
}

.tp-coin-pound:before {
	content: "\e71a";
}

.tp-coin-yen:before {
	content: "\e71b";
}

.tp-calculator:before {
	content: "\e71c";
}

.tp-calculator2:before {
	content: "\e71d";
}

.tp-telephone:before {
	content: "\e71e";
}

.tp-phone-wave:before {
	content: "\e71f";
}

.tp-voicemail:before {
	content: "\e720";
}

.tp-dial:before {
	content: "\e721";
}

.tp-telephone2:before {
	content: "\e722";
}

.tp-pushpin:before {
	content: "\e723";
}

.tp-pushpin2:before {
	content: "\e724";
}

.tp-map-marker:before {
	content: "\e725";
}

.tp-map-marker-user:before {
	content: "\e726";
}

.tp-map-marker-crossed:before {
	content: "\e727";
}

.tp-compass2:before {
	content: "\e728";
}

.tp-map:before {
	content: "\e729";
}

.tp-map2:before {
	content: "\e72a";
}

.tp-location:before {
	content: "\e72b";
}

.tp-road-sign:before {
	content: "\e72c";
}

.tp-calendar-empty:before {
	content: "\e72d";
}

.tp-calendar-check:before {
	content: "\e72e";
}

.tp-calendar-cross:before {
	content: "\e72f";
}

.tp-calendar-full:before {
	content: "\e730";
}

.tp-calendar-text:before {
	content: "\e731";
}

.tp-calendar-user:before {
	content: "\e732";
}

.tp-mouse:before {
	content: "\e733";
}

.tp-keyboard:before {
	content: "\e734";
}

.tp-delete:before {
	content: "\e735";
}

.tp-spell-check:before {
	content: "\e736";
}

.tp-screen:before {
	content: "\e737";
}

.tp-signal:before {
	content: "\e738";
}

.tp-sim:before {
	content: "\e739";
}

.tp-usb-drive:before {
	content: "\e73a";
}

.tp-smartphone:before {
	content: "\e73b";
}

.tp-tablet:before {
	content: "\e73c";
}

.tp-laptop:before {
	content: "\e73d";
}

.tp-laptop-phone:before {
	content: "\e73e";
}

.tp-desktop:before {
	content: "\e73f";
}

.tp-window:before {
	content: "\e740";
}

.tp-cable:before {
	content: "\e741";
}

.tp-cable2:before {
	content: "\e742";
}

.tp-tv:before {
	content: "\e743";
}

.tp-radio:before {
	content: "\e744";
}

.tp-remote-control:before {
	content: "\e745";
}

.tp-power-switch:before {
	content: "\e746";
}

.tp-power:before {
	content: "\e747";
}

.tp-lamp:before {
	content: "\e748";
}

.tp-flashlight:before {
	content: "\e749";
}

.tp-lampshade:before {
	content: "\e74a";
}

.tp-cord:before {
	content: "\e74b";
}

.tp-outlet:before {
	content: "\e74c";
}

.tp-battery-power:before {
	content: "\e74d";
}

.tp-battery-empty:before {
	content: "\e74e";
}

.tp-bubble:before {
	content: "\e74f";
}

.tp-bubbles:before {
	content: "\e750";
}

.tp-heart-pulse:before {
	content: "\e751";
}

.tp-pulse:before {
	content: "\e752";
}

.tp-syringe:before {
	content: "\e753";
}

.tp-pills:before {
	content: "\e754";
}

.tp-first-aid:before {
	content: "\e755";
}

.tp-lifebuoy:before {
	content: "\e756";
}

.tp-bandage:before {
	content: "\e757";
}

.tp-thermometer:before {
	content: "\e758";
}

.tp-beaker:before {
	content: "\e759";
}

.tp-skull:before {
	content: "\e75a";
}

.tp-bone:before {
	content: "\e75b";
}

.tp-construction:before {
	content: "\e75c";
}

.tp-construction-cone:before {
	content: "\e75d";
}

.tp-pie-chart:before {
	content: "\e75e";
}

.tp-graph:before {
	content: "\e75f";
}

.tp-chart-growth:before {
	content: "\e760";
}

.tp-cake:before {
	content: "\e761";
}

.tp-gift:before {
	content: "\e762";
}

.tp-balloon:before {
	content: "\e763";
}

.tp-rank:before {
	content: "\e764";
}

.tp-rank2:before {
	content: "\e765";
}

.tp-rank3:before {
	content: "\e766";
}

.tp-crown:before {
	content: "\e767";
}

.tp-lotus:before {
	content: "\e768";
}

.tp-diamond:before {
	content: "\e769";
}

.tp-teacup:before {
	content: "\e76a";
}

.tp-teapot:before {
	content: "\e76b";
}

.tp-bottle2:before {
	content: "\e76c";
}

.tp-glass-cocktail:before {
	content: "\e76d";
}

.tp-glass:before {
	content: "\e76e";
}

.tp-dinner:before {
	content: "\e76f";
}

.tp-chef:before {
	content: "\e770";
}

.tp-egg:before {
	content: "\e771";
}

.tp-platter:before {
	content: "\e772";
}

.tp-hamburger:before {
	content: "\e773";
}

.tp-pizza:before {
	content: "\e774";
}

.tp-sausage:before {
	content: "\e775";
}

.tp-chicken:before {
	content: "\e776";
}

.tp-fish:before {
	content: "\e777";
}

.tp-carrot:before {
	content: "\e778";
}

.tp-cheese:before {
	content: "\e779";
}

.tp-bread:before {
	content: "\e77a";
}

.tp-ice-cream:before {
	content: "\e77b";
}

.tp-ice-cream2:before {
	content: "\e77c";
}

.tp-candy:before {
	content: "\e77d";
}

.tp-lollipop:before {
	content: "\e77e";
}

.tp-coffee-bean:before {
	content: "\e77f";
}

.tp-coffee-cup:before {
	content: "\e780";
}

.tp-cherry:before {
	content: "\e781";
}

.tp-grapes:before {
	content: "\e782";
}

.tp-citrus:before {
	content: "\e783";
}

.tp-apple:before {
	content: "\e784";
}

.tp-leaf:before {
	content: "\e785";
}

.tp-landscape:before {
	content: "\e786";
}

.tp-pine-tree:before {
	content: "\e787";
}

.tp-tree:before {
	content: "\e788";
}

.tp-cactus:before {
	content: "\e789";
}

.tp-paw:before {
	content: "\e78a";
}

.tp-footprint:before {
	content: "\e78b";
}

.tp-speed-slow:before {
	content: "\e78c";
}

.tp-rocket:before {
	content: "\e78d";
}

.tp-hammer2:before {
	content: "\e78e";
}

.tp-balance:before {
	content: "\e78f";
}

.tp-briefcase:before {
	content: "\e790";
}

.tp-luggage-weight:before {
	content: "\e791";
}

.tp-dolly:before {
	content: "\e792";
}

.tp-plane:before {
	content: "\e793";
}

.tp-helicopter:before {
	content: "\e794";
}

.tp-traffic-lights:before {
	content: "\e795";
}

.tp-siren:before {
	content: "\e796";
}

.tp-road:before {
	content: "\e797";
}

.tp-engine:before {
	content: "\e798";
}

.tp-oil-pressure:before {
	content: "\e799";
}

.tp-coolant-temperature:before {
	content: "\e79a";
}

.tp-gas:before {
	content: "\e79b";
}

.tp-gallon:before {
	content: "\e79c";
}

.tp-car:before {
	content: "\e79d";
}

.tp-bus:before {
	content: "\e79e";
}

.tp-bus2:before {
	content: "\e79f";
}

.tp-car2:before {
	content: "\e7a0";
}

.tp-parking:before {
	content: "\e7a1";
}

.tp-car-siren:before {
	content: "\e7a2";
}

.tp-ambulance:before {
	content: "\e7a3";
}

.tp-truck:before {
	content: "\e7a4";
}

.tp-trailer:before {
	content: "\e7a5";
}

.tp-scale-truck:before {
	content: "\e7a6";
}

.tp-train:before {
	content: "\e7a7";
}

.tp-ship:before {
	content: "\e7a8";
}

.tp-anchor:before {
	content: "\e7a9";
}

.tp-boat:before {
	content: "\e7aa";
}

.tp-bicycle:before {
	content: "\e7ab";
}

.tp-dumbbell:before {
	content: "\e7ac";
}

.tp-swim:before {
	content: "\e7ad";
}

.tp-football:before {
	content: "\e7ae";
}

.tp-baseball-bat:before {
	content: "\e7af";
}

.tp-baseball:before {
	content: "\e7b0";
}

.tp-tennis:before {
	content: "\e7b1";
}

.tp-tennis2:before {
	content: "\e7b2";
}

.tp-ping-pong:before {
	content: "\e7b3";
}

.tp-hockey:before {
	content: "\e7b4";
}

.tp-8ball:before {
	content: "\e7b5";
}

.tp-bowling:before {
	content: "\e7b6";
}

.tp-bowling-pins:before {
	content: "\e7b7";
}

.tp-golf:before {
	content: "\e7b8";
}

.tp-archery:before {
	content: "\e7b9";
}

.tp-soccer:before {
	content: "\e7ba";
}

.tp-basketball:before {
	content: "\e7bb";
}

.tp-cube:before {
	content: "\e7bc";
}

.tp-puzzle:before {
	content: "\e7bd";
}

.tp-glasses:before {
	content: "\e7be";
}

.tp-wheelchair:before {
	content: "\e7bf";
}

.tp-wall:before {
	content: "\e7c0";
}

.tp-fence:before {
	content: "\e7c1";
}

.tp-icons:before {
	content: "\e7c2";
}

.tp-site-map:before {
	content: "\e7c3";
}

.tp-earth:before {
	content: "\e7c4";
}

.tp-network:before {
	content: "\e7c5";
}

.tp-planet:before {
	content: "\e7c6";
}

.tp-smile:before {
	content: "\e7c7";
}

.tp-sad:before {
	content: "\e7c8";
}

.tp-neutral:before {
	content: "\e7c9";
}

.tp-tombstone:before {
	content: "\e7ca";
}

.tp-christmas:before {
	content: "\e7cb";
}

.tp-easter-egg:before {
	content: "\e7cc";
}

.tp-mustache:before {
	content: "\e7cd";
}

.tp-pipe:before {
	content: "\e7ce";
}

.tp-alarm:before {
	content: "\e7cf";
}

.tp-bullhorn:before {
	content: "\e7d0";
}

.tp-volume-high:before {
	content: "\e7d1";
}

.tp-lan:before {
	content: "\e7d2";
}

.tp-wifi:before {
	content: "\e7d3";
}

.tp-antenna:before {
	content: "\e7d4";
}

.tp-satellite:before {
	content: "\e7d5";
}

.tp-satellite2:before {
	content: "\e7d6";
}

.tp-mic:before {
	content: "\e7d7";
}

.tp-mic2:before {
	content: "\e7d8";
}

.tp-hourglass:before {
	content: "\e7d9";
}

.tp-loading:before {
	content: "\e7da";
}

.tp-undo:before {
	content: "\e7db";
}

.tp-redo:before {
	content: "\e7dc";
}

.tp-sync:before {
	content: "\e7dd";
}

.tp-history:before {
	content: "\e7de";
}

.tp-clock:before {
	content: "\e7df";
}

.tp-clock2:before {
	content: "\e7e0";
}

.tp-watch:before {
	content: "\e7e1";
}

.tp-timer:before {
	content: "\e7e2";
}

.tp-timer2:before {
	content: "\e7e3";
}

.tp-download:before {
	content: "\e7e4";
}

.tp-upload:before {
	content: "\e7e5";
}

.tp-enter-up:before {
	content: "\e7e6";
}

.tp-enter-down:before {
	content: "\e7e7";
}

.tp-enter-left:before {
	content: "\e7e8";
}

.tp-enter-right:before {
	content: "\e7e9";
}

.tp-exit-up:before {
	content: "\e7ea";
}

.tp-exit-down:before {
	content: "\e7eb";
}

.tp-exit-left:before {
	content: "\e7ec";
}

.tp-exit-right:before {
	content: "\e7ed";
}

.tp-enter-up2:before {
	content: "\e7ee";
}

.tp-enter-down2:before {
	content: "\e7ef";
}

.tp-enter-vertical:before {
	content: "\e7f0";
}

.tp-enter-left2:before {
	content: "\e7f1";
}

.tp-enter-right2:before {
	content: "\e7f2";
}

.tp-enter-horizontal:before {
	content: "\e7f3";
}

.tp-exit-up2:before {
	content: "\e7f4";
}

.tp-exit-down2:before {
	content: "\e7f5";
}

.tp-exit-left2:before {
	content: "\e7f6";
}

.tp-exit-right2:before {
	content: "\e7f7";
}

.tp-bug:before {
	content: "\e7f8";
}

.tp-code:before {
	content: "\e7f9";
}

.tp-file-code:before {
	content: "\e7fa";
}

.tp-file-image:before {
	content: "\e7fb";
}

.tp-file-zip:before {
	content: "\e7fc";
}

.tp-file-audio:before {
	content: "\e7fd";
}

.tp-file-video:before {
	content: "\e7fe";
}

.tp-file-preview:before {
	content: "\e7ff";
}

.tp-file-charts:before {
	content: "\e800";
}

.tp-file-stats:before {
	content: "\e801";
}

.tp-file-spreadsheet:before {
	content: "\e802";
}

.tp-link:before {
	content: "\e803";
}

.tp-unlink:before {
	content: "\e804";
}

.tp-thumbs-up:before {
	content: "\e805";
}

.tp-thumbs-down:before {
	content: "\e806";
}

.tp-share:before {
	content: "\e807";
}

.tp-magnifier:before {
	content: "\e808";
}

.tp-file-search:before {
	content: "\e809";
}

.tp-zoom-in:before {
	content: "\e80a";
}

.tp-zoom-out:before {
	content: "\e80b";
}

.tp-menu:before {
	content: "\e80c";
}

.tp-list:before {
	content: "\e80d";
}

.tp-list2:before {
	content: "\e80e";
}

.tp-list3:before {
	content: "\e80f";
}

.tp-menu2:before {
	content: "\e810";
}

.tp-list4:before {
	content: "\e811";
}

.tp-menu3:before {
	content: "\e812";
}

.tp-exclamation:before {
	content: "\e813";
}

.tp-question:before {
	content: "\e814";
}

.tp-check:before {
	content: "\e815";
}

.tp-cross:before {
	content: "\e816";
}

.tp-plus:before {
	content: "\e817";
}

.tp-minus:before {
	content: "\e818";
}

.tp-percent:before {
	content: "\e819";
}

.tp-chevron-up:before {
	content: "\e81a";
}

.tp-chevron-down:before {
	content: "\e81b";
}

.tp-chevron-left:before {
	content: "\e81c";
}

.tp-chevron-right:before {
	content: "\e81d";
}

.tp-chevrons-expand-vertical:before {
	content: "\e81e";
}

.tp-chevrons-expand-horizontal:before {
	content: "\e81f";
}

.tp-chevrons-contract-vertical:before {
	content: "\e820";
}

.tp-arrow-up:before {
	content: "\e821";
}

.tp-arrow-down:before {
	content: "\e822";
}

.tp-arrow-left:before {
	content: "\e823";
}

.tp-arrow-right:before {
	content: "\e824";
}

.tp-expand:before {
	content: "\e825";
}

.tp-contract:before {
	content: "\e826";
}

.tp-expand2:before {
	content: "\e827";
}

.tp-contract2:before {
	content: "\e828";
}

.tp-move:before {
	content: "\e829";
}

.tp-tab:before {
	content: "\e82a";
}

.tp-notification:before {
	content: "\e82b";
}

.tp-warning:before {
	content: "\e82c";
}

.tp-notification-circle:before {
	content: "\e82d";
}

.tp-question-circle:before {
	content: "\e82e";
}

.tp-menu-circle:before {
	content: "\e82f";
}

.tp-checkmark-circle:before {
	content: "\e830";
}

.tp-transform:before {
	content: "\e831";
}

.tp-grid:before {
	content: "\e832";
}

.tp-layers:before {
	content: "\e833";
}

.tp-rulers:before {
	content: "\e834";
}

.tp-ruler:before {
	content: "\e835";
}

.tp-funnel:before {
	content: "\e836";
}

.tp-text-align-left:before {
	content: "\e837";
}

.tp-text-align-center:before {
	content: "\e838";
}

.tp-text-align-right:before {
	content: "\e839";
}

.tp-text-align-justify:before {
	content: "\e83a";
}

.tp-ellipsis:before {
	content: "\e83b";
}

